<main>
  <div class="edit_screen_box">

    <form method="POST" action="/members/<%= @member.id %>">

      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= @member.name %>">

      <label for="age">Age:</label>
      <input type="number" min="16" name="age" id="age" value="<%= @member.age %>">

      <label for="membership-type">Membership_type:</label>
      <select id="membership-type" name="membership_tier_id">
        <% @membership_tiers.each do | tier | %>
        <option value ="<%= tier.id %>" <%= "selected" if @member.membership_tier_id == tier.id %>><%= tier.name %></option>
        <% end %>
      </select>

      <input type="submit" value="Update Member">

    </form>

  </div>

</main>
