<main>
  <h1>Profile page</h1>

  <div class="member_profile">

    <div>
      <img src="/images/default-member-icon.png" alt="Member photo icon">
    </div>

    <div>
      <p>Name: <%= @member.join_name() %></p>
      <p>Age: <%= @member.age %></p>
      <p>Membership Type: <%= @member.membership_tier_name() %></p>
      <p>Membership Status: <%= @member.membership_status %></p>
    </div>

    <div>
      <a href="/members/<%= @member.id %>/edit">Edit Member</a>
      <form  method="POST" action="/members/<%= @member.id %>/change-status">
        <input type="submit" value="Change member status">
    </div>

    </div>

    <table>
      <p>Booked lessons:</p>
      <tr>
        <th>Lesson</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
      <% @booked_lessons.each do | lesson | %>
        <tr>
          <td><%= lesson.name %></td>
          <td><%= lesson.date %></td>
          <td><%= lesson.time %></td>
        </tr>
      <% end %>
    </table>
  </main>
