<main>
  <h1>Profile page</h1>

  <div class="member_profile">
      <div class="member-profile-photo-info">
        <div class="profile-pic">
          <img src="/images/default-member-icon.png" alt="Member photo icon">
          <div class="member_profile_center">
          <a href="/members/<%= @member.id %>/edit"><i class="fas fa-user-edit"></i> Edit</a>
          </div>
        </div>


        <div>
          <p class="bold">Name:</p> <p><%= @member.join_name() %></p>
          <p class="bold">Age:</p> <p><%= @member.age %></p>
          <p class="bold">Membership Type:</p> <p> <%= @member.membership_tier_name() %></p>
          <span class="oneline"><p class="bold">Membership Status:</p> <p><%= @member.membership_status %></p></span>
        </div>
      </div>

    <div class = "member-profile-bottom-buttons">
      <form  method="POST" action="/members/<%= @member.id %>/change-status">
        <input type="submit" value="Change member status">
      </form>
    </div>

  </div>

    <div class="member_profile_lessons">
      <table>
        <h3>Booked lessons:</h3>
        <tr>
          <th>Lesson</th>
          <th>Date</th>
          <th>Time</th>
          <th>Delete</th>
        </tr>
        <% @booked_lessons.each do | lesson | %>
        <tr>
          <td><%= lesson.name %></td>
          <td><%= lesson.date %></td>
          <td><%= lesson.time %></td>
          <td><form method="POST" action="/members/<%= @member.id %>/<%= lesson.id %>/delete">
              <button type="submit" value="Remove"><i class="fas fa-trash-alt"></i></button>
            </form></td>
        </tr>
        <% end %>
      </table>

      <a href="/lessons">+ Add new lesson</a>
    </div>

  </main>
