<main>
  <h1>Profile page</h1>

  <div class="member_profile">

    <div>
      <img src="/images/default-member-icon.png" alt="Member photo icon">
    </div>

    <div>
      <p>Name: <%= @member.name %></p>
      <p>Age: <%= @member.age %></p>
      <p>Membership Type: <%= @member.membership_type %></p>
      <p>Membership Status: <%= @member.membership_status %></p>
    </div>

    <div>

      <a href="/members/<%= @member.id %>/edit">Edit Member</a>
      <form  method="POST" action="/members/<%= @member.id %>/change-status">
      <input type="submit" value="Change member status">
    </div>

  </div>
</main>
