<main>

  <form method="POST" action="/lessons/<%= @lesson.id %>">

    <label for="name">Lesson name:</label>
    <input type="text" name="name" id = "name" value="<%= @lesson.name %>">

    <label for="lesson-type">Lesson:</label>
    <select id="lesson-type" name="lesson_tier_id">
      <% @membership_tiers.each do | tier | %>
      <option value ="<%= tier.id %>" <%= "selected" if @lesson.membership_tier_id == tier.id %>><%= tier.name %></option>
      <% end %>
    </select>

    <label for="lesson-date">Lesson day:</label>
    <input type="text" name="lesson_date" id="lesson-date" value="<%= @lesson.lesson_date %>">

    <label for="lesson-time">Lesson time:</label>
    <input type="text" name="lesson_time" id="lesson-time" value="<%= @lesson.lesson_time %>">

    <input type="submit" value="Update Lesson">

  </form>

</main>
