<main>
  <h1>All Classes</h1>
  <div>
    <table class="memberlist">
      <tr>
        <th>Name:</th>
        <th>Membership tier:</th>
        <th>Lesson date:</th>
        <th>Lesson time:</th>
        <th></th>
      </tr>
      <% @lessons.each do | lesson | %>
      <tr>
        <td><%= lesson.name %></td>
        <td><%= lesson.lesson_tier_name() %></td>
        <td><%= lesson.lesson_date %></td>
        <td><%= lesson.lesson_time %></td>
        <td><a href="/lessons/<%= lesson.id %>/edit">Update lesson information</a></td>
      </tr>
      <% end %>
    </table>

    <a href="/lessons/new">Add a new lesson</a>

  </div>

</main>
