<main>
  <h1>All Lessons</h1>
  <div>
    <table class="datalist">
      <tr>
        <th>Name:</th>
        <th>Membership tier:</th>
        <th>Lesson date:</th>
        <th>Lesson time:</th>
        <th>Add Member</th>
        <th>Actions</th>
      </tr>
      <% @lessons.each do | lesson | %>
      <tr>
        <td><%= lesson.name %></td>
        <td><%= lesson.lesson_tier_name() %></td>
        <td><%= lesson.date %></td>
        <td><%= lesson.time %></td>

        <td><form method="POST" action="/lessons/<%= lesson.id %>/booking">

          <label for="member_id">Member ID:</label>
          <input type="number" name="member_id" id="member_id">

          <input id="lesson-id" name="lesson_id" type="hidden" value="<%= lesson.id %>">

          <input type="submit" value="Add member">
          </form>
        </td>

        <td><a href="/lessons/<%= lesson.id %>"><i class="fab fa-readme"></i> Bookings</a> | <a href="/lessons/<%= lesson.id %>/edit"><i class="far fa-edit"></i> edit </a></td>
      </tr>
      <% end %>
    </table>
  </div>

</main>
