<main>
  <h1>Lesson information</h1>

  <div class="lesson-profile-box">

    <div>
      <a class="lesson-profile" href="/lessons"><i class="fas fa-angle-double-left"></i> Back to lesson page</a>

      <p class="bold">Lesson:</p> <%= @lesson.name %>

      <p class="bold">Lesson tier:</p> <%= @lesson.lesson_tier_name() %>

      <p class="bold">Date and time:</p> <%= @lesson.date %>, <%= @lesson.time %>

      <p class="bold">Members booked in class:</p>
      <% if @number_booked == 0 %>
      <p>No one is signed up for this class</p>
      <% else %>
      <div class="lesson-profile">
        <ul>
          <% @members.each do | member | %>
          <li>
            <p><%=member.join_name() %></p> <a href="/members/<%=member.id%>"><i class="far fa-address-card"></i></a>

            <form method="POST" action="/lessons/<%= @lesson.id %>/<%= member.id %>/delete">

              <button type="submit" value="Remove"><i class="fas fa-trash-alt"></i></button>
            </form>

          </li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <% if @number_booked >= @lesson.capacity %>
      <p> This class is fully booked</p>
      <% else %>
      <p class="bold">Quick add member:</p>
      <form class = "lesson-member-add" method="POST" action="/lessons/<%= @lesson.id %>/booking">

        <label for="member_id">ID:</label>
        <input type="number" name="member_id" id="member_id">

        <input id="lesson-id" name="lesson_id" type="hidden" value="<%= @lesson.id %>">

        <button type="submit" value="Add member"><i class="fas fa-user-plus"></i></button>
      </form>
      <% end %>

    </div>
  </div>
</main>
