<main>
  <h1>Lesson information</h1>

  <div class="booking_page">

    <div>

      <p>Lesson: <%= @lesson.name %></p>
      <p>Date: <%= @lesson.date %></p>
      <p>Time: <%= @lesson.time %></p>

      <p>Members booked in class:</p>
      <% if @number_booked == 0 %>
        <p>No one is signed up for this class</p>
      <% else %>
        <ul>
          <% @members.each do | member | %>
          <li><%=member.join_name() %> | <a href="/members/<%=member.id%>">Profile</a>

            <form method="POST" action="/lessons/<%= @lesson.id %>/<%= member.id %>/delete">
            <input type="submit" value="Remove">
          </form>

        </li>
          <% end %>
        </ul>
      <% end %>

      <% if @number_booked >= @lesson.capacity %>
        <p> This class is fully booked</p>
      <% else %>
        <a href="link">Add member</a>
      <% end %>



    </div>
  </div>
</main>
